button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input, select, button {
  font-family: Roboto, Arial;
}


#social-menu ul{
  list-style: none;
  text-align: center;

}

#social-menu li{
  display: inline;
  margin: 10px;
  color: green;

}

.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-video{
  width: fit-content;
   max-height: 200px;
   display: flex;
   
  }

  @media (max-width: 450px) {
    .img-video {
      grid-template-columns: 1fr;
    }
  }