body {
    background-color: chocolate;
}

.details {
    color: white;
}



.login-detail {
    float: inline-end;
    position: relative
    flex: auto;
    flex-wrap: wrap;
    
    
}

.textarea {
    float: left;
    position: relative;
    bottom: 0px;
}



.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.image-row::after {
    content: "";
  clear: both;
  display:list-item;
}

.column {
    float: left;
    padding: 0.0005%;
    height: auto;
    width: 25%;
    flex-wrap: wrap;
    margin: auto;
   
    
}

.text-details {
    display: block;
    text-align: justify;
    width:25%;

}

#social-menu ul{
    list-style: none;
    text-align: center;
    color: yellow;
  }

  #social-menu li{
    display: inline;
    margin: 10px;
  }



