body {
    background-color: chocolate;
}

.details {
    color: white;
}

#heading1 {
    flex: auto;
    flex-wrap: wrap;
}



.login-detail {
    float: inline-end;
    position: relative
    flex: auto;
    flex-wrap: wrap;
    
    
}

/*#local-vid {
    float: right;
    top:0%;
    position: absolute;
    right: 5%;
    flex: auto;
    flex-wrap: wrap;
   
}
*/
#tube-vid {
    float: left;
    top:80%;
    position: absolute;
    right: 5%;

}
/*
.textarea {
    float: left;
    position: relative;
    bottom: 0px;
}
*/


.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.image-row::after {
    content: "";
  clear: both;
  display:list-item;
}

.column {
    float: left;
    padding: 0.000%;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    margin: auto;
   
    
}

.text-details {
    display: block;
    text-align: justify;
    width:25%;

}

#social-menu ul{
    list-style: none;
    text-align: center;
    color: yellow;
  }

  #social-menu li{
    display: inline;
    margin: 10px;
  }



