button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input, select, button {
  font-family: Roboto, Arial;
}


#social-menu ul{
  list-style: none;
  text-align: center;

}

#social-menu li{
  display: inline;
  margin: 10px;
  color: green;

}