body {
    background-color: rgb(236, 126, 47);
}

.title-page-directory {
    color: black;
    cursor: pointer;
    
    
}

#heading1 {
    flex: auto;
    flex-wrap: wrap;
}



.login-detail {
    /*float: inline-end;
    */
    position: relative;
    flex:auto;
    flex-wrap: wrap;
      
}



#tube-vid {
    float: left: ;
    position: absolute;
    right: 5%;

}



.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.image-row::after {
    content: "";
  clear: both;
  display:list-item;
}

.column {
    float: left;
    padding: 0.000%;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    margin: auto; 
    transition: 100ms;
}

.column:hover {
    visibility: visible;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    transform: translate3d(10px,0px,20px); 
    
}

.text-details {
    display: block;
    text-align: justify;
    width:25%;

}

#social-menu ul{
    list-style: none;
    text-align: center;
  
  }

  #social-menu li{
    display: inline;
    margin: 10px;
    color: green;

  }

  #login-button:hover {
    color: green;
    opacity: 0.6;
  }

  #login-button {
    margin-top: 10px;
  }


